Income Landscape Analysis, City of LA. I am looking at income data from the Census to paint a picture of where income lies within the city. Bike riders tend to be low-income, so this will be helpful to compare to biking infrastructure to see if this population is being well-served by bike infrastructure. 
By: Omer Sohail

In [1]:
import pandas as pd

In [5]:
#loading income data file gathered from social explorer
df=pd.read_csv('data/R13010630_SL321.csv')

I want to get an idea of what the file looks like:

In [3]:
df.shape

(1, 105)

In [4]:
df.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,SE_A10015_002,SE_A10015_003,PCT_SE_A10015_002,PCT_SE_A10015_003,SE_A10013_001,SE_A10013_002,SE_A10013_003,PCT_SE_A10013_002,PCT_SE_A10013_003,SE_A14024_001
0,63108044000,32100US063108044000,Los Angeles city; Los Angeles-Long Beach-Anaheim,Los Angeles city; Los Angeles-Long Beach-Anahe...,ca,321,0,ACSSF,37889,NaN,...,147503,1236366,10.66,89.34,1383869,108856,1275013,7.87,92.13,35261

In [11]:
pd.set_option('display.max_rows', None)

In [12]:
df.head()

,Geo_FIPS,Geo_GEOID,Geo_NAME,Geo_QName,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_FILEID,Geo_LOGRECNO,Geo_US,...,SE_A10015_002,SE_A10015_003,PCT_SE_A10015_002,PCT_SE_A10015_003,SE_A10013_001,SE_A10013_002,SE_A10013_003,PCT_SE_A10013_002,PCT_SE_A10013_003,SE_A14024_001
0,63108044000,32100US063108044000,Los Angeles city; Los Angeles-Long Beach-Anaheim,Los Angeles city; Los Angeles-Long Beach-Anahe...,ca,321,0,ACSSF,37889,NaN,...,147503,1236366,10.66,89.34,1383869,108856,1275013,7.87,92.13,35261

In [21]:
#Let's get an idea of what's needed and what can be cleaned up
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           1 non-null      int64
 1   Geo_GEOID          1 non-null      object
 2   Geo_NAME           1 non-null      object
 3   Geo_QName          1 non-null      object
 4   Geo_STUSAB         1 non-null      object
 5   Geo_SUMLEV         1 non-null      int64
 6   Geo_GEOCOMP        1 non-null      int64
 7   Geo_FILEID         1 non-null      object
 8   Geo_LOGRECNO       1 non-null      int64
 9   Geo_STATE          1 non-null      int64
 10  Geo_PLACE          1 non-null      int64
 11  Geo_CBSA           1 non-null      int64
 12  Geo_PCI            1 non-null      object
 13  SE_A00001_001      1 non-null      int64
 14  SE_A14015_001      1 non-null      int64
 15  SE_A14015_002      1 non-null      int64
 16  SE_A14015_003      1 non-null      int64
 17  SE_A10011_001      1 non-null      int64
 18  SE_A10011_002      1 non-null      int64
 19  SE_A10011_003      1 non-null      int64
 20  PCT_SE_A10011_002  1 non-null      float64
 21  PCT_SE_A10011_003  1 non-null      float64
 22  SE_A10019_001      1 non-null      int64
 23  SE_A10019_002      1 non-null      int64
 24  SE_A10019_003      1 non-null      int64
 25  PCT_SE_A10019_002  1 non-null      float64
 26  PCT_SE_A10019_003  1 non-null      float64
 27  SE_A10016_001      1 non-null      int64
 28  SE_A10016_002      1 non-null      int64
 29  SE_A10016_003      1 non-null      int64
 30  PCT_SE_A10016_002  1 non-null      float64
 31  PCT_SE_A10016_003  1 non-null      float64
 32  SE_A10012_001      1 non-null      int64
 33  SE_A10012_002      1 non-null      int64
 34  SE_A10012_003      1 non-null      int64
 35  PCT_SE_A10012_002  1 non-null      float64
 36  PCT_SE_A10012_003  1 non-null      float64
 37  SE_A10017_001      1 non-null      int64
 38  SE_A10017_002      1 non-null      int64
 39  SE_A10017_003      1 non-null      int64
 40  PCT_SE_A10017_002  1 non-null      float64
 41  PCT_SE_A10017_003  1 non-null      float64
 42  SE_A10018_001      1 non-null      int64
 43  SE_A10018_002      1 non-null      int64
 44  SE_A10018_003      1 non-null      int64
 45  PCT_SE_A10018_002  1 non-null      float64
 46  PCT_SE_A10018_003  1 non-null      float64
 47  SE_A10014_001      1 non-null      int64
 48  SE_A10014_002      1 non-null      int64
 49  SE_A10014_003      1 non-null      int64
 50  PCT_SE_A10014_002  1 non-null      float64
 51  PCT_SE_A10014_003  1 non-null      float64
 52  SE_A10015_001      1 non-null      int64
 53  SE_A10015_002      1 non-null      int64
 54  SE_A10015_003      1 non-null      int64
 55  PCT_SE_A10015_002  1 non-null      float64
 56  PCT_SE_A10015_003  1 non-null      float64
 57  SE_A10013_001      1 non-null      int64
 58  SE_A10013_002      1 non-null      int64
 59  SE_A10013_003      1 non-null      int64
 60  PCT_SE_A10013_002  1 non-null      float64
 61  PCT_SE_A10013_003  1 non-null      float64
 62  SE_A14024_001      1 non-null      int64
dtypes: float64(18), int64(39), object(6)
memory usage: 632.0+ bytes

/tmp/ipykernel_352/3722137582.py:2: FutureWarning: null_counts is deprecated. Use show_counts instead
  df.info(verbose=True, null_counts=True)

Proceeding to clean up data by first eliminating empty columns

In [18]:
df.columns[df.isna().all().tolist()]

Index(['Geo_US', 'Geo_REGION', 'Geo_DIVISION', 'Geo_STATECE', 'Geo_COUNTY',
       'Geo_COUSUB', 'Geo_PLACESE', 'Geo_TRACT', 'Geo_BLKGRP', 'Geo_CONCIT',
       'Geo_AIANHH', 'Geo_AIANHHFP', 'Geo_AIHHTLI', 'Geo_AITSCE', 'Geo_AITS',
       'Geo_ANRC', 'Geo_CSA', 'Geo_METDIV', 'Geo_MACC', 'Geo_MEMI',
       'Geo_NECTA', 'Geo_CNECTA', 'Geo_NECTADIV', 'Geo_UA', 'Geo_UACP',
       'Geo_CDCURR', 'Geo_SLDU', 'Geo_SLDL', 'Geo_VTD', 'Geo_ZCTA3',
       'Geo_ZCTA5', 'Geo_SUBMCD', 'Geo_SDELM', 'Geo_SDSEC', 'Geo_SDUNI',
       'Geo_UR', 'Geo_TAZ', 'Geo_UGA', 'Geo_BTTR', 'Geo_BTBG', 'Geo_PUMA5',
       'Geo_PUMA1'],
      dtype='object')

In [19]:
df=df.dropna(axis=1,how="all")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 63 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           1 non-null      int64
 1   Geo_GEOID          1 non-null      object
 2   Geo_NAME           1 non-null      object
 3   Geo_QName          1 non-null      object
 4   Geo_STUSAB         1 non-null      object
 5   Geo_SUMLEV         1 non-null      int64
 6   Geo_GEOCOMP        1 non-null      int64
 7   Geo_FILEID         1 non-null      object
 8   Geo_LOGRECNO       1 non-null      int64
 9   Geo_STATE          1 non-null      int64
 10  Geo_PLACE          1 non-null      int64
 11  Geo_CBSA           1 non-null      int64
 12  Geo_PCI            1 non-null      object
 13  SE_A00001_001      1 non-null      int64
 14  SE_A14015_001      1 non-null      int64
 15  SE_A14015_002      1 non-null      int64
 16  SE_A14015_003      1 non-null      int64
 17  SE_A10011_001      1 non-null      int64
 18  SE_A10011_002      1 non-null      int64
 19  SE_A10011_003      1 non-null      int64
 20  PCT_SE_A10011_002  1 non-null      float64
 21  PCT_SE_A10011_003  1 non-null      float64
 22  SE_A10019_001      1 non-null      int64
 23  SE_A10019_002      1 non-null      int64
 24  SE_A10019_003      1 non-null      int64
 25  PCT_SE_A10019_002  1 non-null      float64
 26  PCT_SE_A10019_003  1 non-null      float64
 27  SE_A10016_001      1 non-null      int64
 28  SE_A10016_002      1 non-null      int64
 29  SE_A10016_003      1 non-null      int64
 30  PCT_SE_A10016_002  1 non-null      float64
 31  PCT_SE_A10016_003  1 non-null      float64
 32  SE_A10012_001      1 non-null      int64
 33  SE_A10012_002      1 non-null      int64
 34  SE_A10012_003      1 non-null      int64
 35  PCT_SE_A10012_002  1 non-null      float64
 36  PCT_SE_A10012_003  1 non-null      float64
 37  SE_A10017_001      1 non-null      int64
 38  SE_A10017_002      1 non-null      int64
 39  SE_A10017_003      1 non-null      int64
 40  PCT_SE_A10017_002  1 non-null      float64
 41  PCT_SE_A10017_003  1 non-null      float64
 42  SE_A10018_001      1 non-null      int64
 43  SE_A10018_002      1 non-null      int64
 44  SE_A10018_003      1 non-null      int64
 45  PCT_SE_A10018_002  1 non-null      float64
 46  PCT_SE_A10018_003  1 non-null      float64
 47  SE_A10014_001      1 non-null      int64
 48  SE_A10014_002      1 non-null      int64
 49  SE_A10014_003      1 non-null      int64
 50  PCT_SE_A10014_002  1 non-null      float64
 51  PCT_SE_A10014_003  1 non-null      float64
 52  SE_A10015_001      1 non-null      int64
 53  SE_A10015_002      1 non-null      int64
 54  SE_A10015_003      1 non-null      int64
 55  PCT_SE_A10015_002  1 non-null      float64
 56  PCT_SE_A10015_003  1 non-null      float64
 57  SE_A10013_001      1 non-null      int64
 58  SE_A10013_002      1 non-null      int64
 59  SE_A10013_003      1 non-null      int64
 60  PCT_SE_A10013_002  1 non-null      float64
 61  PCT_SE_A10013_003  1 non-null      float64
 62  SE_A14024_001      1 non-null      int64
dtypes: float64(18), int64(39), object(6)
memory usage: 632.0+ bytes

In [23]:
#Now that empty columns have been eliminated, let's continue getting rid of data that is not completely necessary

In [34]:
columns_to_drop = ['Geo_GEOCOMP','Geo_FILEID', 'Geo_CBSA']

In [35]:
df=df.drop(columns_to_drop,axis=1)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 52 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geo_FIPS           1 non-null      int64
 1   Geo_QName          1 non-null      object
 2   SE_A00001_001      1 non-null      int64
 3   SE_A14015_001      1 non-null      int64
 4   SE_A14015_002      1 non-null      int64
 5   SE_A14015_003      1 non-null      int64
 6   SE_A10011_001      1 non-null      int64
 7   SE_A10011_002      1 non-null      int64
 8   SE_A10011_003      1 non-null      int64
 9   PCT_SE_A10011_002  1 non-null      float64
 10  PCT_SE_A10011_003  1 non-null      float64
 11  SE_A10019_001      1 non-null      int64
 12  SE_A10019_002      1 non-null      int64
 13  SE_A10019_003      1 non-null      int64
 14  PCT_SE_A10019_002  1 non-null      float64
 15  PCT_SE_A10019_003  1 non-null      float64
 16  SE_A10016_001      1 non-null      int64
 17  SE_A10016_002      1 non-null      int64
 18  SE_A10016_003      1 non-null      int64
 19  PCT_SE_A10016_002  1 non-null      float64
 20  PCT_SE_A10016_003  1 non-null      float64
 21  SE_A10012_001      1 non-null      int64
 22  SE_A10012_002      1 non-null      int64
 23  SE_A10012_003      1 non-null      int64
 24  PCT_SE_A10012_002  1 non-null      float64
 25  PCT_SE_A10012_003  1 non-null      float64
 26  SE_A10017_001      1 non-null      int64
 27  SE_A10017_002      1 non-null      int64
 28  SE_A10017_003      1 non-null      int64
 29  PCT_SE_A10017_002  1 non-null      float64
 30  PCT_SE_A10017_003  1 non-null      float64
 31  SE_A10018_001      1 non-null      int64
 32  SE_A10018_002      1 non-null      int64
 33  SE_A10018_003      1 non-null      int64
 34  PCT_SE_A10018_002  1 non-null      float64
 35  PCT_SE_A10018_003  1 non-null      float64
 36  SE_A10014_001      1 non-null      int64
 37  SE_A10014_002      1 non-null      int64
 38  SE_A10014_003      1 non-null      int64
 39  PCT_SE_A10014_002  1 non-null      float64
 40  PCT_SE_A10014_003  1 non-null      float64
 41  SE_A10015_001      1 non-null      int64
 42  SE_A10015_002      1 non-null      int64
 43  SE_A10015_003      1 non-null      int64
 44  PCT_SE_A10015_002  1 non-null      float64
 45  PCT_SE_A10015_003  1 non-null      float64
 46  SE_A10013_001      1 non-null      int64
 47  SE_A10013_002      1 non-null      int64
 48  SE_A10013_003      1 non-null      int64
 49  PCT_SE_A10013_002  1 non-null      float64
 50  PCT_SE_A10013_003  1 non-null      float64
 51  SE_A14024_001      1 non-null      int64
dtypes: float64(18), int64(33), object(1)
memory usage: 544.0+ bytes

In [38]:
#defining columns to rename
columns=list(df)
columns

['Geo_FIPS',
 'Geo_QName',
 'SE_A00001_001',
 'SE_A14015_001',
 'SE_A14015_002',
 'SE_A14015_003',
 'SE_A10011_001',
 'SE_A10011_002',
 'SE_A10011_003',
 'PCT_SE_A10011_002',
 'PCT_SE_A10011_003',
 'SE_A10019_001',
 'SE_A10019_002',
 'SE_A10019_003',
 'PCT_SE_A10019_002',
 'PCT_SE_A10019_003',
 'SE_A10016_001',
 'SE_A10016_002',
 'SE_A10016_003',
 'PCT_SE_A10016_002',
 'PCT_SE_A10016_003',
 'SE_A10012_001',
 'SE_A10012_002',
 'SE_A10012_003',
 'PCT_SE_A10012_002',
 'PCT_SE_A10012_003',
 'SE_A10017_001',
 'SE_A10017_002',
 'SE_A10017_003',
 'PCT_SE_A10017_002',
 'PCT_SE_A10017_003',
 'SE_A10018_001',
 'SE_A10018_002',
 'SE_A10018_003',
 'PCT_SE_A10018_002',
 'PCT_SE_A10018_003',
 'SE_A10014_001',
 'SE_A10014_002',
 'SE_A10014_003',
 'PCT_SE_A10014_002',
 'PCT_SE_A10014_003',
 'SE_A10015_001',
 'SE_A10015_002',
 'SE_A10015_003',
 'PCT_SE_A10015_002',
 'PCT_SE_A10015_003',
 'SE_A10013_001',
 'SE_A10013_002',
 'SE_A10013_003',
 'PCT_SE_A10013_002',
 'PCT_SE_A10013_003',
 'SE_A14024_001']

In [45]:
#renaming columns per metadata file
df.columns=['FIPS', 
            'QName',
            'Total Population',
            'Median Household Income Occupied Housing Units:',
            'Median Household Income Occupied Housing Units: Owner Occupied',
            'Median Household Income Occupied Housing Units: Renter Occupied',
            'Households:',
            'Households: with Earnings',
            'Households: No Earnings',
            '% Households: with Earnings',
            'Households: No Earnings',
            'Households:',
            'Households: with Wage or Salary Income',
            'Households: No Wage or Salary Income',
            '% Households: with Wage or Salary Income',
            '% Households: No Wage or Salary Income',
            'Households:',
            'Households: with Self-Employment Income',
            'Households: No Self-Employment Income',
            '% Households: with Self-Employment Income',
            '% Households: No Self-Employment Income',
            'Households:',
            'Households: with Interest, Dividends, or Net Rental Income',
            'Households: No Interest, Dividends, or Net Rental Income',
            '% Households: with Interest, Dividends, or Net Rental Income',
            '% Households: No Interest, Dividends, or Net Rental Income',
            'Households:',
            'Households: with Social Security Income',
            'Households: No Social Security Income',
            '% Households: with Social Security Income',
            '% Households: No Social Security Income',
            'Households:',
            'Households: with Supplemental Security Income (Ssi)',
            'Households: No Supplemental Security Income (Ssi)',
            '% Households: with Supplemental Security Income (Ssi)',
            '% Households: No Supplemental Security Income (Ssi)',
            'Households:',
            'Households: with Public Assistance Income',
            'Households: No Public Assistance Income',
            '% Households: with Public Assistance Income',
            '% Households: No Public Assistance Income',
            'Households:',
            'Households: with Retirement Income',
            'Households: No Retirement Income',
            '% Households: with Retirement Income',
            '% Households: No Retirement Income',
            'Households:',
            'Households: with Other Types of Income',
            'Households: No Other Types of Income',
            '% Households: with Other Types of Income',
            '% Households: No Other Types of Income',
            'Per Capita Income (In 2019 Inflation Adjusted Dollars)',]

In [46]:
#confirming new column names 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 52 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   FIPS                                                             1 non-null      int64
 1   QName                                                            1 non-null      object
 2   Total Population                                                 1 non-null      int64
 3   Median Household Income Occupied Housing Units:                  1 non-null      int64
 4   Median Household Income Occupied Housing Units: Owner Occupied   1 non-null      int64
 5   Median Household Income Occupied Housing Units: Renter Occupied  1 non-null      int64
 6   Households:                                                      1 non-null      int64
 7   Households: with Earnings                                        1 non-null      int64
 8   Households: No Earnings                                          1 non-null      int64
 9   % Households: with Earnings                                      1 non-null      float64
 10  Households: No Earnings                                          1 non-null      float64
 11  Households:                                                      1 non-null      int64
 12  Households: with Wage or Salary Income                           1 non-null      int64
 13  Households: No Wage or Salary Income                             1 non-null      int64
 14  % Households: with Wage or Salary Income                         1 non-null      float64
 15  % Households: No Wage or Salary Income                           1 non-null      float64
 16  Households:                                                      1 non-null      int64
 17  Households: with Self-Employment Income                          1 non-null      int64
 18  Households: No Self-Employment Income                            1 non-null      int64
 19  % Households: with Self-Employment Income                        1 non-null      float64
 20  % Households: No Self-Employment Income                          1 non-null      float64
 21  Households:                                                      1 non-null      int64
 22  Households: with Interest, Dividends, or Net Rental Income       1 non-null      int64
 23  Households: No Interest, Dividends, or Net Rental Income         1 non-null      int64
 24  % Households: with Interest, Dividends, or Net Rental Income     1 non-null      float64
 25  % Households: No Interest, Dividends, or Net Rental Income       1 non-null      float64
 26  Households:                                                      1 non-null      int64
 27  Households: with Social Security Income                          1 non-null      int64
 28  Households: No Social Security Income                            1 non-null      int64
 29  % Households: with Social Security Income                        1 non-null      float64
 30  % Households: No Social Security Income                          1 non-null      float64
 31  Households:                                                      1 non-null      int64
 32  Households: with Supplemental Security Income (Ssi)              1 non-null      int64
 33  Households: No Supplemental Security Income (Ssi)                1 non-null      int64
 34  % Households: with Supplemental Security Income (Ssi)            1 non-null      float64
 35  % Households: No Supplemental Security Income (Ssi)              1 non-null      float64
 36  Households:                                                      1 non-null      int64
 37  Households: with Public Assistance Income                        1 non-null      int64
 38  Households: No Public Assistance Income                          1 non-null      int64
 39  % Households: with Public Assistance Income                      1 non-null      float64
 40  % Households: No Public Assistance Income                        1 non-null      float64
 41  Households:                                                      1 non-null      int64
 42  Households: with Retirement Income                               1 non-null      int64
 43  Households: No Retirement Income                                 1 non-null      int64
 44  % Households: with Retirement Income                             1 non-null      float64
 45  % Households: No Retirement Income                               1 non-null      float64
 46  Households:                                                      1 non-null      int64
 47  Households: with Other Types of Income                           1 non-null      int64
 48  Households: No Other Types of Income                             1 non-null      int64
 49  % Households: with Other Types of Income                         1 non-null      float64
 50  % Households: No Other Types of Income                           1 non-null      float64
 51  Per Capita Income (In 2019 Inflation Adjusted Dollars)           1 non-null      int64
dtypes: float64(18), int64(33), object(1)
memory usage: 544.0+ bytes

In [47]:
#Comparing renters' vs. owners' household income

In [49]:
df['Median Household Income Occupied Housing Units: Owner Occupied'].describe()

count         1.0
mean     102792.0
std           NaN
min      102792.0
25%      102792.0
50%      102792.0
75%      102792.0
max      102792.0
Name: Median Household Income Occupied Housing Units: Owner Occupied, dtype: float64

In [50]:
df['Median Household Income Occupied Housing Units: Renter Occupied'].describe()

count        1.0
mean     46250.0
std          NaN
min      46250.0
25%      46250.0
50%      46250.0
75%      46250.0
max      46250.0
Name: Median Household Income Occupied Housing Units: Renter Occupied, dtype: float64